.circle {
  background-color: rgb(85, 51, 36);
    width: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 27px;
}

button {
  display: block;
  width: 100px;
  margin: auto;
}